################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iLearn/.vs/iLearn
/iLearn/iLearn/bin/Debug/netcoreapp2.1
/iLearn/iLearn/obj
/iLearn/iLearn/appsettings.Development.json
/.vs
/iLearn/iLearn/bin/Debug/net5.0
